@import "../../styles/variables.scss";
.reciterBackground {
    background-size: cover;
    height: 300px;
    background: #009faa;
    padding-top: 8rem;
    color: #ffffff;
    padding-bottom: 5rem;
    background-color: $brand-primary;
    margin-left: -15px;
    margin-right: -15px;
    @include desktop() {
        padding-bottom: 8rem;
    }
}

//todo: remove and use one in surahList
.panel .options {
    color: $brand-primary;
    background: transparent;
    border-radius: 50px;
    border-color: #e7e7e7;
    visibility: hidden;
    margin-left: 5px;
    &:hover {
        background: $brand-primary;
        color: #ffffff;
    }
}

.buttonContain {
    padding-bottom: 3rem;
    margin-top: 10px;
}

.button {
    position: relative;
    top: 10px;
    user-select: inherit;
    &:focus {
        outline: none;
        user-select: inherit;
    }
    span {
        font-size: 14px;
    }
    .icon {
        font-size: 20px;
        padding-right: 10px;
        top: 1px;
        position: relative;
    }

    &.related {
      margin-left: 10px;
      @include mobile() {
        margin-left: 0;
        margin-top: 10px;
      }
    }
}

.description {
    margin-left: 25%;
    width: 50%;
    a {
        color: #ffffff;
        text-decoration: underline;
    }
    @include mobile() {
        margin-left: inherit;
        width: inherit;
    }
}

.link {
    color: $black;
}

.relatedToggle {
    background: black;
    padding: 5px;
    border-radius: 13px;
    color: $black;
}