@import "../../styles/variables.scss";
.reciterBackground {
  background-size: cover;
  min-height: 350px;
  background: #009faa;
  padding-top: 8rem;
  color: #ffffff;
  padding-bottom: 5rem;
  background-color: $brand-primary;
  margin-bottom: 20px;
  @include mobile() {
      min-height: 350px;
  }
  &.hasRelated {
    height: 300px;
    @include mobile() {
        height: 350px;
        margin-bottom: 40px;
    }
  }
}

//todo: remove and use one in surahList
.panel .options {
    color: $brand-primary;
    background: transparent;
    border-radius: 50px;
    border-color: #e7e7e7;
    visibility: hidden;
    margin-left: 5px;
    &:hover {
        background: $brand-primary;
        color: #ffffff;
    }
}

.buttonContain {
    margin-top: 10px;
    margin-bottom: 10px;
}

.button {
  position: relative;
  top: 10px;
  user-select: inherit;
  &:focus {
      outline: none;
      user-select: inherit;
  }
  span {
      font-size: 14px;
  }
  .icon {
      font-size: 20px;
      padding-right: 10px;
      top: 1px;
      position: relative;
  }
  &.related {
      @include desktop() {
          margin-left: 0;
          margin-top: 0;
      }
  }
}

.description {
  margin-left: 15%;
  width: 70%;
  padding-left: 5rem;
  padding-right: 5rem;
  word-wrap: break-word;
  word-break: break-word;
  a {
      color: #ffffff;
      text-decoration: underline;
  }
  @include mobile() {
      margin-left: inherit;
      width: inherit;
  }
}

.link {
    color: $black;
}

.relatedToggle {
  background: black;
  padding: 5px;
  border-radius: 13px;
  color: $black;
}
