@import "../../styles/variables.scss";

.reciterBackground{
  background-size: cover;
  min-height: 300px;
  min-height: 30vh;
  color: #fff;
  padding-top: 8rem;
  padding-bottom: 5rem;
  background-color: $brand-primary;

  @media (max-width: $screen-md) {
    padding-bottom: 8rem;
  }
}

.list{
  margin-top: -70px;
}

.panel{
  border-radius: 0px;
  padding: 10px;
  border: none;

  .muted{
    opacity: 0.5;
  }

  .options{
    color: $brand-primary;
    background: transparent;
    border-radius: 50px;
    border-color: #e7e7e7;
    visibility: hidden;
    margin-left: 5px;
    &:hover {
      background: $brand-primary;
      color: white;
    }
  }

  .surahRow {
    margin-right: -12px;
  }
  :global(.list-group-item){
    border-color: $border-color;
    
    &.active {
      border-left: 2px solid $brand-primary;
      & .surahRow div > * {
        color: $brand-primary;
      }
      & .surahRow .muted {
        opacity: 1;
        
      }
    }
  }

  :global(.list-group-item:hover){
    background-color: $hover-grey;
  }
}

.row{
  cursor: pointer;

  :global(.fa-play-circle){
    display: none;
  }

  &.active {
    background-color: $hover-grey;
  }

  &:hover{

    :global(.fa-play-circle){
      display: inline;
      line-height: 0.5em;
    }

    :global(.index){
      display: none;
    }
    .options{
      visibility: visible;
    }
  }
}



.buttonContain {
  padding-bottom: 3rem;
  margin-top: 10px;
}

.button {
  border-radius: 50px;
  border-color: white;
  border-width: 2px;
  margin-right: 10px;
  padding: 10px 30px;
  outline: none;

  span {
    font-size: 14px;
  }

  .icon {
    font-size: 20px;
    padding-right: 10px;
  }

  &:hover {
    border-color: white;
    background: #FFF;
    color: $brand-primary;
  }
}

.description {
  margin-left: 25%;
  width: 50%;
  a {
    color: white;
    text-decoration: underline;
  }
  @include mobile() {
    margin-left: inherit;
    width: inherit;
  }
}
