@import "../../styles/variables.scss";

.reciterBackground{
  background-size: cover;
  min-height: 300px;
  min-height: 30vh;
  color: #fff;
  padding-top: 5rem;
  padding-bottom: 5rem;

  @media (max-width: $screen-md) {
    padding-bottom: 8rem;
  }
}

.meccaBg{
  background: url('../../../static/images/mecca-4.jpg') center 60% no-repeat;
  background-size: cover;
}

.list{
  margin-top: -70px;
}

.panel{
  border-radius: 0px;
  padding: 20px;
  border: none;

  .muted{
    opacity: 0.5;
  }

  .download{
    color: $brand-primary;
    background: transparent;
    border-radius: 50px;
    border-color: #e7e7e7;
    visibility: hidden;
  }


  :global(.list-group-item){

  }

  :global(.list-group-item:hover){

  }
}
.row{
  cursor: pointer;

  :global(.fa-play-circle){
    display: none;
  }

  &:hover{
    background-color: #f7f7f7;

    :global(.fa-play-circle){
      display: inline;
      line-height: 0.5em;
    }
    :global(.index){
      display: none;
    }
    .download{
      visibility: visible;;
    }
  }
}
