@import 'tailwindcss';

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat-Light.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat-Bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Montserrat-Bold';
	src: url('/fonts/Montserrat-Bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Montserrat-Light';
	src: url('/fonts/Montserrat-Light.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
