@import "../../../styles/variables.scss";

.container{
  height: 7px;
  width: 100%;
  background-color: #f7f7f7;
  cursor: pointer;
  margin-bottom: 5px;
  transition: height 0.1s ease-in;

  &.activeHover {
    height: 14px;
  }
}

.progress{
  height: 100%;
  background-color: #2CA4AB;
  position: relative;
  padding-left: 12px;

  &:after{
    content: '';
    opacity:0;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    position: absolute;
    right: -5px;
    display: block;
    background: white;
    top: -4px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.45);
    transition:opacity 0.1s ease-in-out;
    @include mobile() {
      opacity: 1;
      top: -6px;
    }
  }
}

.activeHover .progress:after {
  opacity:1;
}

.simple:after {
    display: none;
}
