$brand-primary: #2CA4AB;
$brand-secondary: #e25139;
$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$brand-info: #5bc0de;
$border-color: #EFEFEF;
$text-color: #444;
$font-size-base: 14px;
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-family-regular: 'Montserrat-regular', sans-serif;

$navbar-inverse-bg: transparent;
$navbar-inverse-color: #fff;
$navbar-inverse-link-color: #fff;
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import 'mixins';
.sticky {
  @include mobile() {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}


.sticky:before,
.sticky:after {
  @include mobile() {
    content: '';
    display: table;
  }

}
