$brand-primary: #2CA4AB;
$brand-secondary: #e25139;
$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$brand-info: #5bc0de;
$border-color: #F0F0F0;
$border-color-dark: #E1E1E1;
$text-color: #444;
$hover-grey: #f7f7f7;
$grey: #8D8D8D;
$black: #2E2E2E;
$font-size-base: 14px;
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-family-regular: 'Montserrat-regular', sans-serif;

$navbar-inverse-bg: transparent;
$navbar-inverse-color: #fff;
$navbar-inverse-link-color: #fff;
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import 'mixins';
