$brand-primary: #2CA4AB;
$brand-secondary: #e25139;
$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$brand-info: #5bc0de;

$text-color: #444;

$font-size-base: 14px;
$font-family-sans-serif: 'Montserrat', sans-serif;

$navbar-inverse-bg: transparent;
$navbar-inverse-color: #fff;
$navbar-inverse-link-color: #fff;
