@import "../../styles/variables.scss";
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 100px;

  .letter {
    font-family: $font-family-sans-serif;
    border: 1px solid $border-color;
    font-size: 16px;
    color: #2E2E2E;
    padding: 5px 10px 5px 10px;
    border-radius: 50%;
    position: absolute;
    margin-top: 10px;
    @include mobile() {
      width: 100%;
      background: #2CA4AB;
      border-radius: 0;
      position: relative;
      text-align: center;
      font-weight: 400;
      font-size: 26px;
      margin-left: 2px;
      color: white;
    }
  }

  .list {
    position: relative;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
    &::after {
      content: '';
      width: 100%;
      border-bottom: 1px solid $border-color;
    }

    @include mobile() {
      padding-left: 0;
    }


  }

  .listItem {
    font-family: $font-family-regular;
    padding-right: 0;
    padding-left: 20px;
    padding-bottom: 35px;
    font-size: 16px;
    width: 370px;
    color: black;

    @include mobile() {
      width: 200px;
      border-bottom: 1px solid #EFEFEF;
      padding: 20px 10px;

      &:last-child {
        border-bottom: none;
      }
    }

  }

  .listItemError {
    font-family: $font-family-regular;
    padding: 8px 0 35px 20px;
    font-size: 16px;
    width: 100%;
    color: black;
  }

  .arabicName {
    float: right;
  }
}
