@import "../../styles/variables.scss";
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 100px;

  .letter {
    font-family: $font-family-sans-serif;
    border: 2px solid $border-color;
    font-size: 16px;
    color: #2E2E2E;
    padding: 7px 13px 6px 13px;
    border-radius: 50%;
    position: absolute;
    margin-top: 10px;
    left: 17px;

    @include mobile() {
      width: 100%;
      background: #2CA4AB;
      border-radius: 0;
      position: relative;
      text-align: left;
      padding-left: 20px;
      font-weight: 400;
      font-size: 26px;
      color: white;
      left: 0;
    }
  }

  .list {
    position: relative;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
    left: 40px;
    overflow: hidden;

    &::after {
      content: '';
      width: 100%;
      border-bottom: 1px solid $border-color;

      @include mobile() {
        border-bottom: none;
      }
    }

    @include mobile() {
      padding-left: 0;
      margin-top: 0;
      margin-bottom: 0;
      left: 0;
    }


  }

  .listItem {
    font-family: $font-family-regular;
    padding: 10px 0 20px 20px;
    font-size: 14px;
    width: 370px;
    letter-spacing: 1px;

    .link {
      color: black;
    }

    @include mobile() {
      border-bottom: 1px solid $border-color;
      width: 100%;
      margin: 5px 10px;

      .link {
        display: block;
        line-height: 20px;
      }

      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 10px;
      }
    }

  }

  .listItemError {
    color: #606060;
    font-family: "Montserrat-light", sans-serif;
    letter-spacing: 0.13px;
    padding: 8px 0 35px 20px;
    font-size: 16px;
    width: 100%;
    border-bottom: 1px solid $border-color;
    @include mobile() {
      position: relative;
      top: 20px;
    }

  }

  .arabicName {
    float: right;
  }
}
