@import "../../styles/variables.scss";

.header {
  background-color: $brand-primary;
  background: url('../../../static/images/index-bg.jpg') center center no-repeat;
  background-size: cover;
  height: 300px;
  color: #fff;

  @include mobile() {
    height: 30vh;
    padding: 1px;

    &.fixed {
      position: fixed;
      top: 0px;
      width:100%;
      height: 120px;
      background: #009faa;
      color: #FFF;
      font-size: 23px;
      padding-top: 50px;
      transition: height 0.3s linear 0s, padding 0.3s linear 0s;
      overflow:hidden;
    }
  }
}

.header__text {
  @include mobile() {
    margin-top: 15%;
  }
}

.heading {
  font-family: 'Montserrat-Bold';
  font-size: 48px;
  margin-top: 80px;
  left: 0;
  position: relative;
}

.heading__link {
  text-decoration: none;
  color: #FFFFFF;
}
