@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
.jumbotron {
    height: 300px;
}

.heading {
    display: inline-block;
    color: #fff;
    font-family: 'Montserrat-Bold';
    font-size: 48px;
    position: relative;
    @include desktop() {
        top: 100px;
        left: 40px;
    }
    @include mobile() {
        top: 115px;
        left: 40px;
        font-size: 40px;
    }
}