@import "../../styles/variables.scss";
.heading {
    display: flex;
    justify-content: center;
    position: relative;
    height: 300px;
    color: #fff;
    font-family: 'Montserrat-Bold';
    font-size: 48px;
    position: relative;
    top: 123px;
}