@import "../../styles/variables.scss";
.app {
  .brand {
    position: absolute;
    $size: 40px;
    top: 5px;
    left: 5px;
    display: inline-block;
    width: $size;
    height: $size;
    background-size: 80%;
    margin: 0 10px 0 0;
    border-radius: $size / 2;
  }
  
  margin-bottom: 20px;

  nav :global(.fa) {
    font-size: 2em;
    line-height: 20px;
  }
}

.quran {
  font-size: 20px;
}

.linkContainer {
  margin-bottom: 0;
}

.appContent {
  margin-top: -75px;
  padding-bottom: 6rem;
  margin-bottom: 150px;
}
.link {
  color: white;
  font-size: 20px;
  position: relative;
  margin-left: 30px;
  font-size: 30px;
  z-index: 11;

  &.linkRight {
    left: 0;
    float: right;
    position: relative;
    margin-right: 30px;
  }
}
