@import "../../styles/variables.scss";

.controls{
  margin: 0px;

  @include mobile() {
    text-align: center;
  }

  .name{
    padding-left: 25px;
  }
}

.info {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);

  @include mobile() {
    left: 25%;
    right: 0;
    top: 0;
    position: relative;
    transform: initial;
    float: left;
  }
}

.toggle{
  :global(i){
    vertical-align: bottom;
  }

  &.active{
    color: $brand-primary;
  }
}

.disabled{
  opacity: 0.5;
  cursor: not-allowed !important;
}
