@import "../../styles/variables.scss";
@import "../../styles/loading.scss";

.controls{
  margin: 0px;

  @include mobile() {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }

  .controlsItem {
    padding-right: 20px;
  }
}

.name{
  padding-left: 25px;
  @include mobile() {
    h4 {
      display: none;
    }
  }
}

.surahName {
  color: #292929;
}

.surahNameEnglish {
    display: none;
   @include mobile() {
    display: block;
    font-size: 16px;
  }
}

.infoContainer {
  position: absolute;
  right: 15px;
  top: 60%;
  transform: translateY(-50%);

  @include mobile() {
    position: relative;
    transform: initial;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

   & .list-inline {
     margin-bottom: 0;
    }
  }

  .info {
  @include mobile() {
    font-size: 20px;
    margin-bottom: 0;
  }
}
}

.toggle{
  :global(i){
    vertical-align: bottom;

   
  }
   @include mobile() {
      font-size: 20px
    }

  &.active{
    color: $brand-primary;
  }
}

.disabled{
  opacity: 0.5;
  cursor: not-allowed !important;
}

