@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
.pills__container {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    background: white;
    position: relative;
    width: 100%;
    @include mobile() {
        width: 30%;
        width: 95vw;
        flex-direction: column;
    }
    .pills__item {
        font-size: 16px;
        &:hover {
            background-color: $hover-grey;
        }
        text-align: center;
        margin-bottom: 5px;
        margin-left: 2px;
        padding-bottom: 24px;
        padding-left: 51px;
        padding-right: 42px;
        padding-top: 27px;
        @include desktop() {
            border-bottom: 1px solid #F0F0F0;
        }
        @include mobile() {
            padding-top: 10px;
            padding-right: 15px;
            padding-bottom: 10px;
            padding-left: 15px;
            &+.pills__item {
                border-bottom: 1px solid #F0F0F0;
            }
        }
        &.active {
            border-bottom: 2px solid #2CA4AB;
        }
    }
}