@import "../../styles/variables.scss";

.navContainer {
    width: 100%;
    position: absolute;
    float: right;
    text-align: right;
    top: 10px;
    right: 80px;
    z-index: 10;

    @include mobile() {
     right: 25%;
    }

    li {
     margin-right: 10px;
     margin-left: 10px;
     display: inline;
     font-size: 16px;
     a {
        color: white;
     }
    }
}
