@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
.pills__container {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    background: white;
    position: relative;
    width: 100%;
    min-width: 230px;
    @include mobile() {
        width: 100%;
        padding: 0 10px;
        flex-direction: column;
    }
    .pills__item {
        font-size: 16px;
        cursor: pointer;
        &:hover {
            background-color: $hover-grey;
        }
        text-align: center;
        letter-spacing: 1px;
        margin-bottom: 5px;
        border-bottom: 2px solid #F0F0F0;
        padding: 25px 25px 25px 25px;
        a {
            padding: 10px 15px;
            text-decoration: none;
            outline: 0;
        }
        @include mobile() {
            padding-top: 15px;
            padding-bottom: 15px;
            &+.pills__item {
                border-bottom: 1px solid #F0F0F0;
            }
        }
        &.active {
            border-bottom: 2px solid $brand-primary;
        }
    }
}